<form name="infoClient">

  <div class="container">

    <div class="box">
      <legend>Client Information</legend>
      <div class="form-group clientInfo " ng-if='$ctrl.data.getValidate();'>
        <p>Name: {{$ctrl.data.getClientInfo()[0].name}}</p>
        <p>Last Name: {{$ctrl.data.getClientInfo()[0].lastName}}</p>
        <p>Email: {{$ctrl.data.getClientInfo()[0].email}}</p>
        <p>Phone: {{$ctrl.data.getClientInfo()[0].phone}}</p>
        <p>Favorite Menu</p>
      </div>
      <menu-item ng-if='$ctrl.data.getValidate();' menu-item="$ctrl.data.getDishInfo();"></menu-item>
      <div class="clientInfo" ng-if='!$ctrl.data.getValidate();'>
        Not Signed Up Yet. &nbsp;
        <a class="sign" ui-sref="public.signup">Sign up Now!</a>
      </div>
    </div>

  </div>

</form>
