.emptyMessage {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}

li {
    margin-bottom: 7px;
    font-size: 1.2em;
}

li > p {
    margin-left: 3px;
}

li > button {
    margin-left: -40px;
    padding-left: 0 10px 0 10px;
}

button > span {
      color: green;

}
