.emptyMessage {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}

ul {
  padding: 0px;
}

li {

    margin-bottom: 10px;
    font-size: 1.2em;
}

li.buy {
  padding-left: 20px;
}

li.buy > p {
    margin-left: 7px;
}

li.buy > p + button {

    margin-left: -70px;
}

button > span {
      color: green;

}
